@font-face {
    font-family:"Black Label";
    src:url('fonts/black_label/BlackLabel-Light.eot');
    src:url('fonts/black_label/BlackLabel-Light.eot?#iefix') format("embedded-opentype"),
    url("fonts/black_label/BlackLabel-Light.woff") format("woff"),
    url("fonts/black_label/BlackLabel-Light.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}

ul {
    padding: 0;
}

.underline {
    text-decoration: underline;
}

body {
    background-color: #c8a0aa;
    font-family: "Black Label", "sans-serif";
}

header {
    background-color: #bd9593;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

header img {
    height: 90px;
    padding-top: .8rem;
    width: 100px;
}

header h1 {
    margin-left: 3rem;
    text-align: center;
}

.container {
    border: 2px solid black;
    box-shadow: -6px -5px 7px black;
    margin: 2rem;
    padding-top: 2rem;
    text-align: center;
}

.container img {
    margin-top: -.5rem;
    width: 100%;
}

.container figcaption {
    background-color: #bd9593;
    border: .1px solid black;
    box-shadow: 0px 0px 6px black;
    margin: 2rem auto 2rem auto;
    padding: 1rem;
    width: 80%;
}

.container nav {
    margin-bottom: 2rem;
}

.container nav ul {
    display: inline-flex;
    list-style-type: none;
}

.container nav li {
    padding:1rem;
}

.container li:nth-child(2) {
    display: none;
}